@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #075985 ;
  --popup: #ffffff ;
  --puborder: #075985 ;
  --hover: #e0f2fe ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #152227;
    --foreground: #ededed;
    --accent: #93dfff;
    --popup: #082f49;
    --puborder: #e5e7eb ;
    --hover: #0c4a6e ;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
